body {
  margin: 0
  padding: 0

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation {
  width: 1280px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.user-navigation,
.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000

  background-color: #ffffff;
}

.menu-navigation {
  width: 940px;
  height: 60px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation,
.user-navigation,
.user-profile,
.menu-navigation,
.about-company,
.footer-navigation,
.footer-about-company,
.nav-menu,
.footer-social ul,
.filter ul,
.catalog ul{
  list-style: none;
}

.site-navigation a,
.menu-navigation a,
.more-about-company,
.site-map-navigation {
  color: #ffffff;
}

.user-navigation a,
.user-profile a,
.checkout,
.catalog-item a,
.nav-menu a {
  color: #000000;
}

.site-navigation a:hover {
  background-color: #212a3a;
}
.site-navigation a:focus {
  background-color: #161d29;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.menu-navigation a:hover {
  background-color: #293449
}

.menu-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.order a {
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.aside-info {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-style: Italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.phone-number {
  width: 144px;
  height: 21px;
  font-family: Cuprum;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #e9292a;
}

.adress-info {
  width: 250px;
  height: 13px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-office a {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-office a:hover {
  color: #ee3643;
}

.user-office a:focus {
  color: rgba(50, 66, 92, 0.3);
}

h1 a {
  width: 110px;
  height: 18px;
  font-family: Cuprum;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  background-color: #ee3643;
}

h1 a:hover {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

h1 a:focus {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.company {
  width: 1920px;
  height: 320px;
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.company h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.about-company {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.more-about-company {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
}
.company a {
  width: 139px;
  height: 12px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.contacts-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.talk {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.site-map-navigation {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.main-footer {
  background-color: #32425c;
}

.main-footer a {
  color: #ffffff;
}

.main-header-logo {
  width: 138px;
  height: 21px;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  background-color: #ee3643;
}

.aside-adress {
  width: 322px;
  height: 40px;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.footer-navigation {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;
}

.footer-about-company a {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-about-company a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-about-company a:focus {
   color: rgba(255, 209, 128, 0.5);
}

.copyright {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.social-button {
  background-color: #212a3a;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.footer-social a:focus {
  background-color: #ee3643;
}

.feedback  {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-copyright a {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:focus {
  color: #ee3643;
}

.footer-copyright-1 {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-copyright-0 a {
  font-family: Cuprum;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}

.footer-copyright-0 a:hover {
  text-decoration: underline;
}

.footer-copyright-0 a:focus {
  color: #ee3643;
}

.catalog-item h3 {
  width: 155px;
  height: 33px;
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.sale-price {
  width: 67px;
  height: 12px;
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  text-align: center;
  color: #999999;
}

.catalog-item-price {
  width: 65px;
  height: 12px;
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.button-buy {
  font-family: Cuprum;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 10px;
  box-shadow: inset 0px -3px 0 0 #367315;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.button-buy-1 {
  font-family: Cuprum;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: #32425c;
  border: 3px solid #63a63e;
}

.button-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-buy-1:hover {
  color: #32425c;
  border: 3px solid #32425c;
}

.button-buy:focus {
  background-color: #518534;
}

.button-buy-1:focus {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.visually-hidden {
  visibility: hidden;
}
