body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background-color: #fff;
}

a {

}

.main-navigation {
  margin: 0 auto;
  background-color: #f3f7f9;
  margin-bottom: 50px;
  padding-bottom: 60px;
  text-decoration: none;
}

.navigation-catalog {
  margin: 0 auto;
  background-color: #f3f7f9;
  padding-bottom: 60px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #293449;
  margin-bottom: 46px;
}

.main-navigation-wrapper .container {
  display: flex;
}

.site-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.main-navigation-wrapper a {
  background-color: #293449;
}

.search {
  overflow: hidden;
  width: 270px;
  position: relative;
  display: inline-block;
}

.search input {
  height: 32px;
  width: 230px;
  border: none;
  padding: 5px 0 5px 40px;
  background: #293449 url("../img/icon-search.svg") no-repeat 5% 50%;
  opacity: 0.5;
  color: #293449;
}

.search label {
  margin-left: 40px;
  position: absolute;
  top: 13px;
  left: 0;
}

.search input[type=text]:focus + label {
  color: #fff;
  display: none;
}

.search input:hover {
  opacity: 1;
  background: #212a3a url("../img/icon-search.svg") no-repeat 5% 50%;
  color: #212a3a;
}

.search input:focus {
  background: #fff url("../img/icon-search-red.png") no-repeat 5% 50%;
}

.bookmarks  {
  overflow: hidden;
  width: 150px;
  position: relative;
  overflow: hidden;
  padding: 12px 30px 10px 43px;
  color: #fff;
  text-decoration: none;
  line-height: 42px;
}

.bookmarks:focus {
  opacity: 0.5;
  background-color: #161d29;
}

.bookmarks::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  width: 30px;
  height: 30px;
  background: #293449 url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.bookmarks:hover::before {
  opacity: 1;
  background-color: #212a3a;
}

.bookmarks:focus::before {
  opacity: 0.5;
  background-color: #161d29;
}

.basket {
  overflow: hidden;
  width: 150px;
  color: #fff;
  padding: 13px 30px 12px 43px;
  position: relative;
  text-decoration: none;
}

.basket:focus {
  opacity: 0.5;
  background-color: #161d29;
}

.basket::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 13px;
  width: 30px;
  height: 29px;
  background: #293449 url("../img/icon-cart.svg");
  background-repeat:  no-repeat;
  opacity: 0.5;
}

.basket:hover::before {
  opacity: 1;
  background-color: #212a3a;
}

.basket:focus::before {
  opacity: 0.5;
  background-color: #161d29;
}


a.color {
  background-color: #ee3643;
}

a.color::before {
  background-color: #ee3643;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #f3f7f9;
}

.box {
  display: flex;
  flex-direction: column;
}

.user-profile-list {
  position: relative;
  width: 299px;
  height: 45px;
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.user-navigation a,
.user-profile a {
  margin: 0px;
  display: block;
  color: #000;
}

.profile {
  padding-top: 14px;
}

.profile img {
  padding-right: 14px;
  padding-left: 13px;
}

/*
.profile img:hover {
  background: url("../img/icon-user-blue.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.profile::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 18px
  background: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.profile:hover::before {
  background: url("../img/icon-user-blue.png");
  background-repeat: no-repeat;
  background-color: #fff;
}
*/

.profile-exit::before {
  position: absolute;
  top: 14px;
  left: 269px;
  content: "";
  width: 20px;
  height: 17px;
  background: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
}

.profile-exit:hover::before {
  background: url("../img/icon-logout-blue.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.profile-exit:focus::before {
  background: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-color: #fff;
}


.open-button {
  position: relative;
  margin: 0;
  padding: 14px 27px 11px 48px;
  background-color: #fff;
  text-decoration: none;
}

.open-button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.open-button:hover::before {
  background: #fff url("../img/icon-login-blue.png");
  background-repeat: no-repeat;
}

.open-button:focus::before {
  background: #fff url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.registration a {
  margin: 0;
  margin-left: 10px;
  padding: 14px 25px 11px;
  background-color: #fff;
  text-decoration: none;
}

.menu-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 82px;
}

.menu-navigation a {
  display: block;
  align-items: center;
  list-style: none;
  color: #fff;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  padding: 22px 31px 26px 37px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
}

.site-navigation a {
  color: #fff;
}

.site-navigation a:hover {
  background-color: #212a3a;
}

.site-navigation a:focus {
  background-color: #161d29;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.menu-navigation a:hover {
  background-color: #293449
}

.menu-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

a.order {
  width: 150px;
  line-height: 18px;
  padding: 13px 22px 12px 20px;
  background-color: #63a63e;
  position: relative;
  text-decoration: none;
}

a.order:hover {
  background-color: #5fbb2d;
}

a.order:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.aside-column {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f7f9;
  margin-bottom: 44px;
}

.aside-column .container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  box-sizing: content-box;
}

.aside-info {
  position: relative;
  top: 10px;
  width: 206px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: Italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  padding-left: 50px;
  margin: 0;
}

.contacts p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.phone-number {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 13px 52px 11px 74px;
  margin-bottom: 6px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #fff;
  color: #e9292a;
  text-decoration: none;
}

.phone-number::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 18px;
  height: 19px;
  background: #f3f7f9 url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.adress-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-office {
  position: relative;
  display: flex;
}

.orders {
  padding-left: 17px;
  padding-right: 33px;
}

.private-office::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 105px;
  width: 4px;
  height: 5px;
  background: url("../img/shape-1.png");
  background-repeat: no-repeat;

}

.user-office a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-office a:hover {
  color: #ee3643;
}

.user-office a:focus {
  color: rgba(50, 66, 92, 0.3);
}

a.logo:hover {
  background-color: #ca2c37;
}

a.logo:focus {
  background-color: #ba2732;
}

.nav-menu {
  position: relative;
  width: 360px;
  height: 59px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 17.5px;
}

.nav-menu a {
  color: #000;
  text-decoration: none;
}

.catalog-link::before {
  position: absolute;
  content: " ";
  top: 23px;
  left: 25px;
  width: 7px;
  height: 12px;
  background: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.tool::before {
  position: absolute;
  content: " ";
  top: 23px;
  left: 112px;
  width: 7px;
  height: 12px;
  background: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.tool::after {
  position: absolute;
  content: " ";
  top: 23px;
  left: 235px;
  width: 7px;
  height: 12px;
  background: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.main-heading {
  margin-bottom: 20px;
  display: flex;
  height: 89px;
  width: 940px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-heading h1 {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.index-columns {
  margin-bottom: 86px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
}

.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.contacts-columns {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.company {
  display: flex;
  flex-direction: column;
  width: 519px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.company h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.paragraph-1 {
  margin: 0;
  padding: 0;
  width: 550px;
  margin-bottom: 30px;
}

.paragraph-2 {
  margin: 0;
  padding: 0;
  width: 450px;
}

.about-company {
  position: relative;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}

.about-company li {
  margin-bottom: 20px;
}

.delivery-1::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 25px;
  height: 2px;
  background: url("../img/Layer-23.png");
  background-repeat: no-repeat;
}

.delivery-2::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 2px;
  width: 25px;
  height: 2px;
  background: url("../img/Layer-23.png");
  background-repeat: no-repeat;
}

.delivery-3::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 2px;
  width: 25px;
  height: 2px;
  background: url("../img/Layer-23.png");
  background-repeat: no-repeat;
}

.button {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
}

.more-about-company {
  list-style: none;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
}

.more-about-company:hover {
  background-color: #ca2c37;
}

.more-about-company:focus {
  background-color: #ba2732;
}

.contacts-column {
  display: flex;
  justify-content: flex-end;
}

.contacts-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.talk {
  width: 193px;
  margin: 0;
  margin-bottom: 30px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
}

.maps {
  width: 300px;
  height: 158px;
  margin-bottom: 44px;
}

.site-map-navigation {
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
}

.site-map-navigation:hover {
  background-color: #ca2c37;
}

.site-map-navigation:focus {
  background-color: #ba2732;
}

.filters {
  color: #000;
}

.filter {
  margin-bottom: 70px;
}

.filter fieldset {
  border: none;
  margin: o;
  padding: 0;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter legend {
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 31.5px;
  text-transform: uppercase;
}

.filter ul {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter  legend {
  margin-bottom: 20px;
}

.filter-option {
  padding-left: 40px;
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter input {
  background-color: #c5c5c5;
}

.filter input:hover + label {
  color: #b5b5b5;
}

.filter input:focus + label {
  opacity: 0.3;
  color: #b5b5b5;
}

.filter input:disabled + label {
  color:  #b5b5b5;
  opacity: 0.5;
}

.checkbox + label::before {
  content: " ";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  left: -40px;
  top: -3px;
}

.checkbox + label:hover::after {
  content: " ";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("../img/icon-mark-png.png");
  background-repeat: no-repeat;
  left: -40px;
  top: -3px;

}

.catalog-columns {
  display: flex;
  background-color: #fff;
}

.filter ul,
.catalog ul {
  list-style: none;
}

.catalog-item {
    position:relative;
    display:inline-block;
    width:218px;
    margin-right:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item {
  position: relative;
  width: 220px;
  display: flex;
  flex-direction: column;
  line-height:20px;
  font-weight:bold;
  text-align:center;
  border: 1px solid #e5e5e5;
}

.catalog-item h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
}

.catalog-item a {
  color: #000;
  text-decoration: none;
}

.sale-price {
  display: flex;
  justify-content: center;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  text-align: center;
  color: #999;
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
}

.catalog-item-price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
}

.card-item {
  display: none;
  position: relative;
  top: 0;
  left: 50px;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item:hover {
  display:block;
}

.button-buy {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  width: 135px;
  font-size: 14px;
  line-height: 10px;
  box-shadow: inset 0px -3px 0 0 #367315;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #63a63e;
}

.button-buy-1 {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  width: 135;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.button-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-buy-1:hover {
  color: #32425c;
  border: 3px solid #32425c;
}

.button-buy:focus {
  background-color: #518534;
}

.button-buy-1:focus {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #32425c;
}

.new {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
  width: 60px;
}

.flag {
  position: relative;
  left: 160px;
  background:url("../img/new-flag.png") no-repeat 0 0;
}


.main-footer {
  background-color: #32425c;
}

.main-footer a {
  color: #fff;
}

.main-footer .container {
  margin-bottom: 53px;
}

.logo {
  width: 220px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
}

a.logo {
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  background-color: #ee3643;
}

.main-header .logo::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 41px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.footer-list a.logo {
  position: relative;
  margin-bottom: 32px;
  height: 68px;
}

.footer-list a.logo::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 67px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.footer-contacts {
  width: 323px;
  display: flex;
  flex-direction: column;
}

.aside-adress {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.phone-number-footer {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;
  text-decoration: none;
}

.footer-info {
  padding-top: 22px;
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  text-align: left;
  color: #f1f5f7;
}

.footer-navigation a {
  text-decoration: none;
}

.footer-about-company {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 23px;
  list-style: none;
}

.footer-about-company a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  color: #ffd180;
  text-decoration: none;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-about-company a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-about-company a:focus {
   color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-copyright-columns {
  display: flex;
  padding-top: 40px;
  background-color:  #293449;
}

.footer-copyright-columns .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-social {
  display: flex;
  width: 141px;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 30px;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.footer-social a:focus {
  background-color: #ee3643;
}

.feedback  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

.footer-copyright {
  width: 135px;
  margin-right: 53px;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-copyright a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:focus {
  color: #ee3643;
  text-decoration: none;
}

.footer-copyright-1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

.footer-copyright-0 {
  width: 96px;
  display: inline-block;
  flex-wrap: wrap;
}

.footer-copyright-0 a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
  text-decoration: none;
}

.footer-copyright-0 a:hover {
  text-decoration: underline;
}

.footer-copyright-0 a:focus {
  color: #ee3643;
  text-decoration: none;
}

.checkout {
  color: #000;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
