body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-navigation {
  margin: 0 auto;
  background-color: #f3f7f9;
  margin-bottom: 50px;
}

.main-navigation-wrapper {
  height: 42px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #293449;
}

.site-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.main-navigation-wrapper a {
  padding: 14px auto 16px;
  margin:0 auto;
  background-color: #293449;
}

.bookmarks {
  padding: 14px 46px 13px 224px;
}

.basket {
  padding: 14px 31px 13px 78px;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #f3f7f9;
}

.box {
  display: flex;
  flex-direction: column;
}

.user-profile-list {
  width: 299px;
  display: flex;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.user-navigation a,
.user-profile a {
  margin: 10px;
  display: block;
  color: #000;
}

.open-button {
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 48px;
}

.registration {
  padding: 14px 25px 11px;
}

.menu-navigation {
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  padding: 22px 65px 25px 52px;
}


.menu-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.site-navigation a {
  color: #fff;
}

.site-navigation a:hover {
  background-color: #212a3a;
}

.site-navigation a:focus {
  background-color: #161d29;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.menu-navigation a:hover {
  background-color: #293449
}

.menu-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.order {
   display: flex;
}

.order a {
  padding: 14px 22px 13px 20px;
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.aside-column {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f7f9;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.aside-info {
  width: 196px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: Italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts p {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.phone-number {
  display: flex;
  justify-content: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.adress-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-office {
  display: flex;
}

.user-office a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-office a:hover {
  color: #ee3643;
}

.user-office a:focus {
  color: rgba(50, 66, 92, 0.3);
}

.logo a:hover {
  background-color: #ca2c37;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo a:focus {
  background-color: #ba2732;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.nav-menu {
  width: 360px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
}

.nav-menu a {
  color: #000;
}

.main-heading {
  display: flex;
  height: 89px;
  width: 940px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-heading h1 {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.index-columns {
  margin-bottom: 86px;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #000;
  background-color: #fff;
}

.contacts-columns {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 120px;
}

.company {
  display: flex;
  flex-direction: column;
  width: 519px;
  margin-right: 120px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.company h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.about-company {

  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.button {
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

.more-about-company {
  list-style: none;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
}

.contacts-column {
  display: flex;
  justify-content: flex-end;
}

.contacts-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
}

.talk {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.site-map-navigation {
  margin-top: 20px;
  width: 300px;
  list-style: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
}

.filters {
  color: #000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 31.5px;
  text-transform: uppercase;
}

.filter ul {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter input {
  background-color: #c5c5c5;
}

.filter input:hover {
  color: #b5b5b5;
}

.filter input:focus + label {
  opacity: 0.3;
  color: #b5b5b5;
}

.filter input:disabled + label {
  color:  #b5b5b5;
  opacity: 0.4;
}

.catalog-columns {
  background-color: #fff;
}

.filter ul,
.catalog ul {
  list-style: none;
}

.catalog-item {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.catalog-item a {
  color: #000;
}

.catalog-item h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.sale-price {
  display: flex;
  justify-content: center;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  text-align: center;
  color: #999;
}

.catalog-item-price {
  display: flex;
  justify-content: center;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  color: #fff;
}

.button-buy {
  font-family: "Cuprum", Arial, sans-serif;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 10px;
  box-shadow: inset 0px -3px 0 0 #367315;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #63a63e;
}

.button-buy-1 {
  font-family: "Cuprum", Arial, sans-serif;
  width: 135px;
  height: 38px;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #32425c;
  background-color: #fff;
  border: 3px solid #63a63e;
}

.button-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-buy-1:hover {
  color: #32425c;
  border: 3px solid #32425c;
}

.button-buy:focus {
  background-color: #518534;
}

.button-buy-1:focus {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #32425c;
}

.new {
  width: 60px;
  background-color: #ee3643;
}

.main-footer {
  background-color: #32425c;
}

.main-footer a {
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  width: 220px;
  background-color: #ee3643;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.logo a {
  padding: 13px 55px 16px;
  color: #fff;
  background-color: #ee3643;
}

.footer-contacts {
  width: 323px;
  display: flex;
  flex-direction: column;
}

.aside-adress {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.phone-number-footer {
  display: flex;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;
}

.footer-navigation {
  margin-right: 487px;
  display: flex;
  justify-content: flex-end;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  text-align: left;
  color: #f1f5f7;
}

.footer-navigation a {
  padding: 42px 60px 45px 60px;
}

.footer-about-company {
  margin-right: 487px;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
  list-style: none;
}

.footer-about-company a {
  padding: 45px 60px 80px 60px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-about-company a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-about-company a:focus {
   color: rgba(255, 209, 128, 0.5);
}

.footer-copyright-columns {
  display: flex;
  justify-content: center;
  background-color:  #293449;
}

.copyright {
  margin: 39px auto 35px;
  display: flex;
  flex-direction: column;
  width: 227px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #212a3a;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.footer-social a:focus {
  background-color: #ee3643;
}

.feedback  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

.footer-copyright-columns1 {
  display: flex;
  justify-content: flex-end;
}

.footer-copyright {
  margin: 40px 53px 35px 130px;
  width: 135px;
  display: inline-block;
  flex-wrap: wrap;
}


.footer-copyright a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:focus {
  color: #ee3643;
}

.footer-copyright-1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
}

.footer-copyright-0 {
  margin: 39px auto 34px;
  width: 96px;
  display: inline-block;
  flex-wrap: wrap;
}

.footer-copyright-0 a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
}

.footer-copyright-0 a:hover {
  text-decoration: underline;
}

.footer-copyright-0 a:focus {
  color: #ee3643;
}

.checkout {
  color: #000;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
